---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* Blue links only in page content only */
.page-content a,
.post-content a,
.page__content a,
main a,
#main a,
.content a {
  color: #1a73e8;
  text-decoration: underline;
}

.page-content a:visited,
.post-content a:visited,
.page__content a:visited,
main a:visited,
#main a:visited,
.content a:visited {
  color: #551a8b;
}

.page-content a:hover,
.post-content a:hover,
.page__content a:hover,
main a:hover,
#main a:hover,
.content a:hover {
  color: #0b57d0;
}
